@import "../../../../../../scss-variables/scss-variables.scss";

.table-users-courses {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1.4rem;
  table-layout: fixed;

  @include media-queries(extraMedia2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__head {
    @include media-queries(extraMedia2) {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  &__head-th,
  &__body-td {
    height: 50px;
    padding: 0 5px;
    border: 1px solid #ddd;
    font-weight: 300;

    @include media-queries(large) {
      height: 35px;
    }

    &:nth-child(1) {
      text-align: center;
    }

    @include media-queries(extraMedia2) {
      &:nth-child(1) {
        text-align: left;
      }
    }

    @include media-queries(extraMedia6) {
      display: flex;
      align-items: center;
    }
  }

  &__body-td--users-courses {
    &:nth-child(2) {
      text-align: center;
    }

    &:nth-child(3n + 0) {
      display: grid;
      align-items: center;
      overflow-y: scroll;

      scrollbar-width: $scrollFirefoxWidth;
      scrollbar-color: $scrollThumbColor $scrollBarBgc;

      &::-webkit-scrollbar {
        width: $scrollWidthChromeSafari;
        height: $scrollHeightChromeSafari;
      }

      &::-webkit-scrollbar-track {
        background-color: $scrollBarBgc;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $scrollThumbColor;
        border-radius: 6px;
      }

      &::-webkit-scrollbar-corner {
        background-color: $scrollBarBgc;
      }
    }

    &:hover {
      @include media-queries(extraMedia2) {
        background-color: #f2f2f2;
      }
    }

    @include media-queries(extraMedia2) {
      &:nth-child(3n + 1) {
        background-color: #d1e5fe;
        line-height: 35px;
      }

      &:nth-child(2) {
        text-align: left;
        line-height: 35px;
      }

      &:nth-child(3n + 0) {
        height: 35px;
        overflow-y: scroll;
      }
    }
  }

  &__head-th {
    padding: 12px 0;
    background-color: #0074d9;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;

    &:nth-child(1) {
      text-align: center;
    }

    @include media-queries(large) {
      padding: 7px;
      font-weight: 400;
    }

    @include media-queries(extraMedia2) {
      display: grid;
      display: inline-block;
      grid-template-columns: 1fr;

      &:nth-child(3n + 0) {
        height: 35px;
      }
    }

    @include media-queries(extraMedia6) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
    }
  }

  &__body-tr {
    &:nth-child(even) {
      background-color: #f2f2f2;
      @include media-queries(extraMedia2) {
        background-color: white;
      }
    }

    &:hover {
      background-color: #ddd;

      @include media-queries(extraMedia2) {
        background-color: white;
      }
    }
  }

  &__head-tr,
  &__body-tr {
    @include media-queries(extraMedia2) {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  &__body {
    @include media-queries(extraMedia2) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
  }
}
