@import "../../../scss-variables/scss-variables.scss";

section {
  .paid-order {
    width: 100%;

    &__title {
      margin-bottom: 10px;
      font-weight: 500;

      @include media-queries(lmedium) {
        font-size: 2rem;
      }

      @include media-queries(xsmall) {
        font-size: 1.9rem;
      }
    }

    &__id-order {
      font-size: 2rem;
      font-weight: 300;
      @include media-queries(xsmall) {
        font-size: 1.6rem;
      }
    }

    &__wrapper {
      display: flex;
      width: 100%;
      min-height: 60vh;

      @include media-queries(lmedium) {
        flex-direction: column;
      }
    }

    &__left-col {
      flex-basis: 30%;
      padding: 10px 20px 20px 0;
    }

    &__shipping-details-title {
      margin-bottom: 10px;
      font-weight: 500;
    }

    &__shipping-address-title {
      margin: 10px 0;
      font-weight: 500;
    }

    .fa-check {
      color: #2ecc40;
    }

    .fa-times {
      color: #ff4136;
    }

    &__right-col {
      flex-basis: 70%;
      padding: 13px 20px 20px 20px;

      @include media-queries(lmedium) {
        padding: 0;
      }
    }

    &__summary-title {
      margin: 10px 0;
      font-weight: 500;
    }

    &__products {
      margin-bottom: 10px;
      font-weight: 500;
    }
  }
}
