@import "../../../scss-variables/scss-variables.scss";

.paid-product {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 0 20px 0;
  margin: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;

  @include media-queries(medium) {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0 0 20px 0;
  }

  &__image {
    margin: 0 10px 0 0;

    @include media-queries(lmedium) {
      margin: 0;
    }

    @include media-queries(medium) {
      margin: 10px 0;
    }
  }

  &__img {
    display: block;
    width: 150px;
    height: 100px;

    @include media-queries(medium) {
      width: 100%;
      height: 100%;
    }
  }

  &__details {
    margin-left: 10px;
    line-height: 1.5;
  }

  &__title {
    font-weight: 500;
  }

  &__qty-product-span,
  &__price-span {
    font-weight: 300;
  }
}
