.summery-payment {
  &__payment-method,
  &__shipping-price,
  &__total-price {
    line-height: 1.5;
  }

  &__shipping-price-span,
  &__payment-method-span,
  &__total-price-span {
    font-weight: 300;
  }

  &__total-price-span--selected {
    font-weight: 500;
    color: orangered;
  }
}
