@import "../../../../scss-variables/scss-variables.scss";

@mixin titleBar {
  padding: 5px 0 5px 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}

.summary {
  grid-area: summary;

  &__title-summary {
    @include titleBar();
    background-color: $middleHeaders;
    @include media-queries(extraMedia7) {
      font-size: 1.6rem;
    }
  }
  &__details-summary {
    padding: 10px 20px;
    margin-top: 55px;

    @include media-queries(extraMedia7) {
      margin-top: 20px;
    }
  }

  &__subtotal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-weight: 500;
    letter-spacing: 1px;
  }

  &__est-shipping {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    letter-spacing: 1px;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-weight: 500;
    letter-spacing: 1px;
  }

  &__total-price {
    color: orangered;
  }
}
