@import "../../../../scss-variables/scss-variables.scss";

.shipping-data {
  width: 50%;

  @include media-queries(lmedium) {
    width: 100%;
  }

  &__title {
    padding-left: 20px;
    letter-spacing: 1px;
    font-weight: 500;

    @include media-queries(lmedium) {
      padding: 0;
      margin-bottom: 15px;
    }
  }

  &__list-details {
    padding: 20px;
    list-style-type: none;

    @include media-queries(lmedium) {
      padding: 0;
    }
  }

  &__item {
    margin-bottom: 10px;
    font-weight: 300;
  }

  &__item-span {
    font-weight: 400;
  }
}
