@import "./../../../scss-variables/scss-variables.scss";

.alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40vh;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  font-family: arial, sans-serif;

  @include media-queries(medium) {
    font-size: 1.5rem;
  }

  &__icon {
    display: block;
    width: 70px;
    height: 70px;
    border: 2px solid #ff4136;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    line-height: 70px;
    margin-bottom: 30px;
    color: #ff4136;

    @include media-queries(medium) {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }

  &__icon-face-sad {
    margin: 20px 0;
  }

  .fa-frown {
    font-size: 40px;
  }

  &__text2 {
    @include media-queries(medium) {
      text-align: center;
    }
  }

  &__button-redirect {
    width: 170px;
    padding: 10px 10px;
    margin: 50px 0 10px;
    border: none;
    background-color: #0074d9;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
    outline: none;
    transition: 0.2s linear;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: $font-family-modal-forms-buttons-inputs-labels;

    @include media-queries(medium) {
      width: 150px;
      font-size: 1.2rem;
    }

    &:hover {
      background-color: #036ac4;
      letter-spacing: 1px;
      color: white;
      font-weight: 500;
    }
  }
}
