@import "../../../scss-variables/scss-variables.scss";

.button-go-back {
  margin-bottom: 20px;
  border: none;
  background-color: transparent;
  font-size: 1.6rem;
  outline: none;
  cursor: pointer;

  @include media-queries(xsmall) {
    margin-left: 10px;
  }
}
