@import "../../../../../../../scss-variables/scss-variables.scss";

@mixin buttonSubmit {
  width: 150px;
  padding: 10px 0;
  margin-bottom: 15px;
  background-color: #0074d9;
  transition: 0.2s linear;
  border: none;
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
  outline: none;
  letter-spacing: 1px;

  @include media-queries(xsmall) {
    width: 100%;
  }

  &:hover {
    background-color: #036ac4;
    letter-spacing: 2px;
    color: white;
    font-weight: 500;
  }
}

.management-slider-form {
  &__form {
    line-height: 1.5;
  }

  &__title {
    margin: 30px 0 20px;
    font-weight: 400;

    @include media-queries(xsmall) {
      font-size: 1.9rem;
    }
  }

  &__input {
    margin-right: 5px;
  }

  &__label {
    font-weight: 300;
    cursor: pointer;
  }

  &__color-label {
    padding-left: 10px;
    margin-right: 10px;
    color: rgb(106, 106, 106);
    font-weight: 300;

    @include media-queries(extraMedia5) {
      padding-left: 0;
    }
  }

  &__choose-option-btn {
    @include buttonSubmit();
    display: block;
    margin-top: 20px;
  }

  &__choose-option-btn--inactive {
    display: none;
  }

  &__add-advertise {
    display: block;
    margin-top: 20px;
  }

  &__add-advertise--inactive {
    display: none;
  }

  &__wrap-details {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

  &__wrap-details-with-color {
    width: 100%;
    position: relative;
    display: flex;

    @include media-queries(extraMedia5) {
      flex-direction: column;
    }
  }

  &__wrap-details-title,
  &__wrap-details-description {
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 15px 0;

    @include media-queries(lmedium) {
      width: 65%;
    }

    @include media-queries(extraMedia5) {
      width: 100%;
    }
  }

  &__wrap-details-color-picker {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;

    @include media-queries(lmedium) {
      width: 35%;
    }

    @include media-queries(extraMedia5) {
      width: 100%;
    }
  }

  &__wrap-details--inactive {
    display: none;
  }

  &__border {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 0px;
    height: 1px;
    background-color: #0074d9;
    transition: all ease-in-out 0.5s;
  }

  &__add-input {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid rgb(181, 181, 181);
    outline: none;
    font-family: $font-family-modal-forms-buttons-inputs-labels;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      box-shadow: 0 0 0 30px white inset !important;
      -webkit-box-shadow: 0 0 0 30px white inset !important;
    }

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ .management-slider-form__add-label {
      font-size: 1.5rem;
      top: 15px;
      color: rgb(106, 106, 106);
      cursor: text;
    }

    &:focus ~ .management-slider-form__add-label {
      top: -10px;
      font-size: 1.1rem;
      color: #0074d9;
    }

    &:required {
      box-shadow: none;
    }

    &:not(:placeholder-shown) ~ .management-slider-form__border {
      width: 100%;
    }
  }

  &__add-input--textarea {
    margin-top: 10px;
    font-size: 1.3rem;
    resize: none;

    scrollbar-width: $scrollFirefoxWidth;
    scrollbar-color: $scrollThumbColor $scrollBarBgc;

    &::-webkit-scrollbar {
      width: $scrollWidthChromeSafari;
      height: $scrollHeightChromeSafari;
    }

    &::-webkit-scrollbar-track {
      background-color: $scrollBarBgc;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $scrollThumbColor;
      border-radius: 6px;
    }

    &::-webkit-scrollbar-corner {
      background-color: $scrollBarBgc;
    }

    ::-webkit-scrollbar-button:single-button {
      background-color: #bbbbbb;
      display: block;
      border-style: solid;
      height: 13px;
      width: 16px;
    }

    ::-webkit-scrollbar-button:single-button:vertical:decrement {
      border-width: 0 8px 8px 8px;
      border-color: transparent transparent #555555 transparent;
    }

    ::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
      border-color: transparent transparent #777777 transparent;
    }

    ::-webkit-scrollbar-button:single-button:vertical:increment {
      border-width: 8px 8px 0 8px;
      border-color: #555555 transparent transparent transparent;
    }

    ::-webkit-scrollbar-button:vertical:single-button:increment:hover {
      border-color: #777777 transparent transparent transparent;
    }
  }

  &__add-input--file {
    border: none;
  }

  &__add-label {
    position: absolute;
    top: -10px;
    left: 0;
    pointer-events: none;
    transition: 0.2s ease all;
    font-size: 1.1rem;
    color: #0074d9;
    font-family: $font-family-modal-forms-buttons-inputs-labels;
  }

  &__add-adveritse-btn {
    @include buttonSubmit();
  }
}
