@import "../../../../../../../scss-variables/scss-variables.scss";

section {
  .management-orders {
    padding: 15px 20px 20px 50px;

    @include media-queries(large) {
      padding: 0;
    }

    &__title {
      font-weight: 400;
      margin-bottom: 30px;
    }

    &__button-details-order {
      width: 100%;
      height: 100%;
      border: none;
      background-color: $btn-bgColor-confirm;
      box-sizing: border-box;
      transition: 0.2s linear;
      font-size: 1.6rem;
      outline: none;
      cursor: pointer;
      color: white;

      &:hover {
        background-color: $btn-bgColor-confirm--hover;
        letter-spacing: 1px;
      }
    }
  }
}
