@import "../../../../scss-variables/scss-variables.scss";

section {
  .shipping {
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-queries(large) {
      width: 90%;
    }

    @include media-queries(lmedium) {
      width: 100%;
    }

    &__title {
      width: 70%;
      padding: 15px;
      margin-bottom: 50px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: 500;

      @include media-queries(large) {
        width: 79%;
      }

      @include media-queries(medium) {
        width: 100%;
        margin-bottom: 15px;
        font-size: 2.2rem;
      }

      @include media-queries(xsmall) {
        font-size: 1.8rem;
      }

      @include media-queries(extrasmall) {
        font-size: 1.6rem;
      }
    }
  }
}
