@import "../../../../scss-variables/scss-variables.scss";

@mixin buttonShipping {
  display: block;
  width: 50%;
  padding: 10px 15px;
  margin: 50px 0 0 15px;
  border: none;
  background-color: $btn-bgColor-confirm;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
  outline: none;
  transition: 0.2s linear;
  letter-spacing: 1px;
  align-self: start;

  @include media-queries(lmedium) {
    width: 200px;
  }

  @include media-queries(medium) {
    width: calc(100% - 30px);
    margin: 15px 0 20px 15px;
  }

  &:hover {
    background-color: $btn-bgColor-confirm--hover;
    letter-spacing: 2px;
  }
}

.form-shipping {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  min-height: 50vh;
  margin: 0 auto;

  @include media-queries(large) {
    width: 79%;
  }

  @include media-queries(medium) {
    width: 100%;
  }

  &__names {
    display: flex;
    width: 100%;

    @include media-queries(extraMedia6) {
      flex-direction: column;
    }
  }

  &__street-number {
    display: flex;
    width: 100%;

    @include media-queries(extraMedia6) {
      flex-direction: column;
    }
  }

  &__state-post-code {
    display: flex;
    width: 100%;

    @include media-queries(extraMedia6) {
      flex-direction: column;
    }
  }

  &__city-country {
    display: flex;
    width: 100%;

    @include media-queries(extraMedia6) {
      flex-direction: column;
    }
  }

  &__wrapper-details,
  &__wrapper-details-1 {
    width: 100%;
    position: relative;
    display: flex;
    margin: 15px 0;
  }

  &__wrapper-details-2 {
    position: relative;
    display: flex;
    margin: 15px 0;
    width: 40%;

    @include media-queries(extraMedia6) {
      width: 100%;
    }
  }

  &__tooltip {
    display: block;
    position: absolute;
    width: calc(100% - 20px);
    left: 50%;
    bottom: 125%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: rgb(215, 243, 252);
    transform: translateX(-50%) scale(0);
    transform-origin: bottom center;
    transition: 0.3s all;
    font-size: 1rem;
    opacity: 0;
    color: rgb(137, 137, 137);

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: calc(50% - 5px);
      border-width: 5px;
      border-style: solid;
      border-color: rgb(215, 243, 252) transparent transparent transparent;
    }
  }

  &__label {
    position: absolute;
    top: -10px;
    left: 0;
    pointer-events: none;
    transition: 0.2s ease all;
    font-size: 1.1rem;
    color: #0074d9;
    margin: 0 15px;
  }

  &__input {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid rgb(181, 181, 181);
    outline: none;
    margin: 0 15px;

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ .form-shipping__label {
      font-size: 1.5rem;
      cursor: text;
      top: 15px;
      color: rgb(106, 106, 106);
    }

    &:focus ~ .form-shipping__label {
      top: -10px;
      font-size: 1.1rem;
      color: #0074d9;
    }

    &:required {
      box-shadow: none;
    }

    &:focus {
      border-bottom-color: #0074d9;
    }

    &:focus + .form-shipping__tooltip {
      width: calc(100% - 20px);
      opacity: 1;
      transform: translateX(-50%) scale(1);
    }
  }

  &__button {
    @include buttonShipping();
  }
}
